<section id="future-events" class="light-bg">
    <div class="container border">
        <h2 class="text-center">Frequently asked questions</h2>
        <div class="row justify-content-center">
            {% assign sorted-events = site.events | sort: 'start' %}
            {% for event in sorted-events %}
                {% if event.is-public %}
                    <div class="card col-sm-6 col-md-3" style="border-width: 1px; border-color: {{ event.color }};">
                        <div class="card-body">
                            <h5 class="card-title"><b>{{ event.name }}</b></h5>
                            <p class="card-text align-bottom">{{ event.short-description }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
